html, body {
    height: 100%;
}

body {
    background-color: rgb(0, 0, 0);

}

/*--------container--------*/

#container {
    background-color: white;
    border-style: double;
    display: grid;
    height: 600px;
    width: 600px;
    grid-gap: 1px;
}

/*----------grid----------*/

#title {
    color:blue;
    font-size: 50px;
    -webkit-text-stroke: 1.5px white;
}

#title,
#get-custom-grid-numbers,
#container {
text-align: center;
position: relative;
left: 50%;
transform: translateX(-50%);
}

.grid {
    background: blue;
}

.grid:hover {
    background:;
    cursor: pointer;
}

/*---------button--------*/

#get-custom-grid-numbers {
    font-size: 30px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 105, 253);
    padding: 5px;
    background-color: rgb(18, 18, 18);
    border-radius: 10px;
    border: 4px solid blue;
    margin-bottom: 10px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    -webkit-text-stroke: 1px white;
    text-align: center;
    
}

#get-custom-grid-numbers:hover {
    color: blue;
    cursor: pointer;
    border: 4px solid rgb(255, 105, 253);
    transition: 0.5s;
}

/*.color {
    background: rgba{0,0,0,0.1};
}*/

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    font-size: 20px;
    color: white;
    text-align: center;
}

@media screen and (max-width:1000px) {
    #title {
        font-size: 25px;
    }

    #get-custom-grid-numbers {
        font-size: 20px;
    }

    footer {
        font-size: 15px;
    }

    #container {
        height: 300px;
        width: 300px;
    }
}